@model Journal.Dto.Create.PostPersonDto
@{
}
<div class="container border w-50">
    <form method="post" action="Create">
        <div class="row text-center"><h5>Создать сотрудника</h5></div>
        <div class="row">
            <div class="col input-group mb-3 w-100">
                <span class="input-group-text w-50" id="basic-addon1" for="FirstName">
                    Имя
                </span>
                <input type="text" class="w-50" asp-for="FirstName" value="" />
            </div>
        </div>
        <div class="row ">
            <div class="col input-group mb-3">
                <span class="input-group-text w-50" id="basic-addon1" for="LastName">
                    Фамилия
                </span>
                <input type="text" class="w-50" asp-for="LastName" value="" />
            </div>
        </div>
        <div class="row ">
            <div class="col input-group mb-3">
                <span class="input-group-text w-50" id="basic-addon1" for="Surname">
                    Отчество
                </span>
                <input type="text" class="w-50" asp-for="Surname" value="" />
            </div>
        </div>
        <div class="row ">
            <div class="col input-group mb-3">
                <span class="input-group-text w-50" id="basic-addon1" for="Surname">
                   Отдел
                </span>
                <select asp-for="DepartmentId" class="w-50" asp-items="ViewBag.Departments"></select>
            </div>
        </div>
        <div class="row">
            <span asp-validation-for="FirstName"></span>
            <span asp-validation-for="LastName"></span>
            <span asp-validation-for="Surname"></span>
            <span asp-validation-for="DepartmentId"></span>
        </div>
        <div class="row">
            <div class="col text-right"><input class="btn btn-success" type="submit" value="Отправить" /></div>
            <div class="col text-left"><input class="btn btn-warning" type="reset" value="Сбросить" /></div>
        </div>
    </form>
</div>